{% extends 'base.html.twig' %}

{% block title %}Modification des Comptes{% endblock %}

{% block body %}
    <h1>Modification de Compte</h1>

    {{ include('comptes/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('comptes_index') }}">Liste des comptes</a>

    {{ include('comptes/_delete_form.html.twig') }}
{% endblock %}