{% extends 'base.html.twig' %}

{% block title %}Liste des comptes{% endblock %}

{% block body %}
    <h1>Liste des comptes</h1>
    {{ include('comptes/_liste.html.twig') }}
    {{ include('_pagination.html.twig',{'path':'comptes_index'}) }}
    <a class="form-inline" href="{{ path('comptes_new') }}">Ajouter un compte</a>
{% endblock %}