{% extends 'base.html.twig' %}

{% block title %}Ajouter un Compte{% endblock %}

{% block body %}
    <h1>Create new Comptes</h1>

    {{ include('comptes/_form.html.twig') }}

    <a href="{{ path('comptes_index') }}">Liste des comptes</a>
{% endblock %}