{% extends 'base.html.twig' %}

{% block title %}New SystemElectLigneInventaires{% endblock %}

{% block body %}
    <h1>Create new SystemElectLigneInventaires</h1>

    {{ include('system_elect_ligne_inventaires/_form.html.twig') }}

    <a href="{{ path('system_elect_ligne_inventaires_index') }}">back to list</a>
{% endblock %}