{% extends 'base.html.twig' %}

{% block title %} Compenses{% endblock %}

{% block body %}
    <h1>Saisie de la compense |  <a href="{{ path('compenses_index') }}">Listing des compenses</a></h1>

    {{ include('compenses/_collection_form.html.twig') }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{   asset('js/compense.js') }}"></script>
{% endblock %}
