{% extends 'base.html.twig' %}

{% block title %}modification Journal Comptable{% endblock %}

{% block body %}
    <h1>Modification journal comptable</h1>

    {{ include('journaux_comptables/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('journaux_comptables_index') }}">Liste</a>

    {{ include('journaux_comptables/_delete_form.html.twig') }}
{% endblock %}
