{% extends 'base.html.twig' %}

{% block title %}Journaux Comptables {% endblock %}

{% block body %}
    <h1>Liste des journaux comptables |  <a href="{{ path('journaux_comptables_new') }}">Ajouter</a></h1>

    {{ include('_pagination.html.twig') }}
    {{ include ('journaux_comptables/_liste.html.twig') }}

{% endblock %}
