{% extends 'base.html.twig' %}

{% block title %}Nouveau Journal Comptable{% endblock %}

{% block body %}
    <h1>Ajout d'un journal</h1>

    {{ include('journaux_comptables/_form.html.twig') }}

    <a href="{{ path('journaux_comptables_index') }}">Liste</a>
{% endblock %}
