{% extends 'base.html.twig' %}

{% block title %}Liste Caisses{% endblock %}

{% block body %}
    <h1>Liste des Caisses - Banques</h1>

{{ include('caisses/_liste.html.twig') }}

    <a href="{{ path('caisses_new') }}">Ajouter une caisse</a>
{% endblock %}