{% extends 'base.html.twig' %}

{% block title %}Ajout de Caisses{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Caisse - Banque</h1>

    {{ include('caisses/_form.html.twig') }}
    <div class="form-inline">
        <a href="{{ path('caisses_index') }}">Liste des caisses - Banques</a>
    </div>
    {{ include('caisses/_liste.html.twig') }}
{% endblock %}