{% extends 'base.html.twig' %}

{% block title %}Ajout de Caisses{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Caisse - Banque</h1>

    {{ include('caisses/_form.html.twig') }}

    <a href="{{ path('caisses_index') }}">Afficher toutes les caisses - Banques</a>
{% endblock %}