{% extends 'base.html.twig' %}

{% block title %}New CompenseLignes{% endblock %}

{% block body %}
    <h1>Create new CompenseLignes</h1>

    {{ include('compense_lignes/_form.html.twig') }}

    <a href="{{ path('compense_lignes_index') }}">back to list</a>
{% endblock %}
