{% if recette_depense.utilisateur.id==app.user.id and  recette_depense.statut!='C' %}
<form method="post" action="{{ path('recette_depenses_suppr', {'id': recette_depense.id}) }}" onsubmit="return confirm('Supprimer définitivement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette_depense.id) }}">
    <button class="btn">Supprimer</button>
</form>
{% endif %}
