{{ form_start(form, {'attr': {'onsubmit':'return confirm("Enregistrer Recettes et depenses ?");'}} ) }}

{{ form_widget(form) }}
    <button class="btn  btn-info">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form)  }}