{% extends 'base.html.twig' %}

{% block title %}Comptabilisation des dépenses et recettes{% endblock %}

{% block body %}
    <h1>Comptabilisation des dépenses et recettes au comptant</h1>
    {{ include('recette_depenses/_btn_valider_annuler.html.twig',{'btn_name':'comptabiliser', 'btn_label':'Comptabiliser', 'confirm_message':'COMPTABILISER ?','path':'recette_depenses_comptabiliser', 'id':recette_depense.id, 'btn_class':'btn btn-info'}) }}

    {{ include('recette_depenses/_form.html.twig', {'button_label': 'Corriger'}) }}

    {{ include('recette_depenses/_liste.html.twig', {'recetteDepenses':journeeCaisse.recetteDepenses}) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
