{% extends 'base.html.twig' %}

{% block title %}Edit RecetteDepenses{% endblock %}

{% block body %}
    <h1>Edit RecetteDepenses</h1>

    {{ include('recette_depenses/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('recette_depenses_index') }}">Liste</a>

    {{ include('recette_depenses/_delete_form.html.twig') }}
{% endblock %}
