<form method="post" action="{{ path('system_transfert_delete', {'id': system_transfert.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer se système?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ system_transfert.id) }}">
    <button class="btn">Supprimer</button>
</form>