{% extends 'base.html.twig' %}

{% block title %}SystemTransfert index{% endblock %}

{% block body %}
    <h1>Listes des systemes de transferts internationnaux</h1>
    {{ include('system_transfert/_liste.html.twig') }}
    <a href="{{ path('system_transfert_new') }}">Ajouter</a>
{% endblock %}