{% extends 'base.html.twig' %}

{% block title %}New SystemTransfert{% endblock %}

{% block body %}
    <h1>Ajouter un système</h1>

    {{ include('system_transfert/_form.html.twig') }}

    <a href="{{ path('system_transfert_index') }}">Retour à la liste</a>
    {{ include('system_transfert/_liste.html.twig') }}

{% endblock %}