<form method="post" action="{{ path('transfert_internationaux_delete', {'id': transfert_internationaux.id,
    'dateDebut': app.request.query.get('dateDebut'),
    'dateFin':app.request.query.get('dateFin'),
    'systemTransfert':app.request.query.get('systemTransfert'),
}) }}" onsubmit="return confirm('OPERATION IRREVERSIBLE. Supprimer vraiment ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transfert_internationaux.id) }}">
    <button class="btn">Supprimer</button>
</form>