{% extends 'base.html.twig' %}

{% block title %}modifier Transferts Internationaux{% endblock %}

{% block body %}
    <h1>Modification de  Transfert International</h1>

    {{ include('transfert_internationaux/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('transfert_internationaux_index', {
        'dateDebut': app.request.query.get('dateDebut'),
        'dateFin':app.request.query.get('dateFin'),
        'systemTransfert':app.request.query.get('systemTransfert'),
    }) }}">Liste transferts</a>

    {{ include('transfert_internationaux/_delete_form.html.twig') }}
{% endblock %}