{% extends 'base.html.twig' %}

{% block title %}Edit Collaborateurs{% endblock %}

{% block body %}
    <h1>Edit Collaborateurs</h1>

    {{ include('collaborateurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('collaborateurs_index') }}">back to list</a>

    {{ include('collaborateurs/_delete_form.html.twig') }}
{% endblock %}
