{% extends 'base.html.twig' %}

{% block title %}Modification de Collaborateurs{% endblock %}

{% block body %}
    <h1>Modification de Collaborateurs</h1>

    {{ include('collaborateurs/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('collaborateurs_index') }}">Liste</a>
{% endblock %}
