{% extends 'base.html.twig' %}

{% block title %}Liste des Collaborateurs{% endblock %}

{% block body %}
    <h1>Liste des Collaborateurs |  <a href="{{ path('collaborateurs_new') }}">Ajouter un nouveau</a></h1>


    {{ include('collaborateurs/_liste.html.twig') }}

{% endblock %}
