{% extends 'base.html.twig' %}

{% block title %}Nouveau Collaborateurs{% endblock %}

{% block body %}
    <h1>Création de Collaborateur</h1>

    {{ include('collaborateurs/_form.html.twig') }}
    {{ include('collaborateurs/_liste.html.twig') }}

{% endblock %}
