{% extends 'base.html.twig' %}

{% block title %}New Collaborateurs{% endblock %}

{% block body %}
    <h1>Create new Collaborateurs</h1>

    {{ include('collaborateurs/_form.html.twig') }}

    <a href="{{ path('collaborateurs_index') }}">back to list</a>
{% endblock %}
