<table class="table">
    <thead>
    <tr>
        <th>Client</th><th>Montant</th><th>libelle</th>
    </tr>
    </thead>
    <tbody>
    <th colspan="2">Total</th><th>{{ journeeCaisse.mRetraitClient }}</th>
    {% for retrait in journeeCaisse.transactions %}
        {% for trcpte in retrait.transactionComptes %}
            {% if (trcpte.compte.typeCompte!='I') and (trcpte.mDebit) %}
                <tr><td>{{ trcpte.compte.intitule }} </td><td>{{ trcpte.mDebit|number_format(0, '.', ' ') }}</td><td>{{ retrait.libelle }}</td></tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>