{% extends 'base.html.twig' %}

{% block title %}Edit TransactionComptes{% endblock %}

{% block body %}
    <h1>Edit TransactionComptes</h1>

    {{ include('transaction_comptes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('transaction_comptes_index') }}">back to list</a>

    {{ include('transaction_comptes/_delete_form.html.twig') }}
{% endblock %}