{% extends 'base.html.twig' %}

{% block title %}Edit Entreprises{% endblock %}

{% block body %}
    <h1>Edit Entreprises</h1>

    {{ include('entreprises/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entreprises_index') }}">back to list</a>

    {{ include('entreprises/_delete_form.html.twig') }}
{% endblock %}
