{% extends 'base.html.twig' %}

{% block title %}New Entreprises{% endblock %}

{% block body %}
    <h1>Création entreprise | <a href="{{ path('entreprises_index') }}">Listing</a></h1>

    {{ include('entreprises/_form.html.twig') }}

{% endblock %}
