<div>
    <p> Compte du <span style="font-weight: bold"> {{criteres.compteDebut}} </span> au <span style="font-weight: bold"> {{criteres.compteFin}}</p>
    <p> Période du <span style="font-weight: bold"> {{(criteres.dateDebut)?criteres.dateDebut|date('d-m-Y'):''}} </span> au <span style="font-weight: bold"> {{(criteres.dateFin)?criteres.dateFin|date('d-m-Y'):''}}</p>
    <p></p>
</div>