{% extends 'base.html.twig' %}

{% block title %}critères grand livre{% endblock %}

{% block body %}
    <h1>Critères d'édition du grand liver</h1>

    {{ include('compta/_criteres_gl_form.html.twig') }}

{% endblock %}