{% extends 'base.html.twig' %}

{% block title %}Critères états{% endblock %}

{% block body %}
    <h1>Critères d'édition {{ type }}</h1>

    {{ include('compta/_criteres_form.html.twig') }}

{% endblock %}