{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Grand livre{% endblock %}

{% block body %}
    <h1>Grand livre général </h1>

    {{ include('compta/_criteres_form.html.twig') }}

    {{ include('compta/_entete_criteres.html.twig') }}
    {{ include('compta/_detail_grand_livre.html.twig') }}

{% endblock %}