<form method="post" action="{{ path('devises_delete', {'id': devise.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette devise?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ devise.id) }}">
    <button class="btn">Supprimer</button>
</form>