{% extends 'base.html.twig' %}

{% block title %}Devises index{% endblock %}

{% block body %}
    <h1>Listes des devises</h1>
    {{ include('devises/_liste.html.twig') }}
    <a href="{{ path('devises_new') }}">Ajouter</a>
{% endblock %}