<button type="submit" id="devise_recus_save_and_new" name="devise_recus[save_and_new]" class="{{ btn_class }}">Enregistrer et Nouveau</button>
<button type="submit" id="devise_recus_save_and_close" name="devise_recus[save_and_close]" class="{{ btn_class }}">Enregistrer et Fermer</button>
<button type="submit" id="devise_recus_save_and_print" name="devise_recus[save_and_print]" class="{{ btn_class }}" >Enregistrer et imprimer</button>
<button type="submit" id="devise_recus_close" name="devise_recus[close]" class="{{ btn_class }}">Fermer</button>
