<form method="post" action="{{ path('devise_recus_delete', {'id': devise_recus.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ devise_recus.id) }}">
    <button class="btn">Delete</button>
</form>