<form method="post" action="{{ path('param_comptables_delete', {'id': param_comptable.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette structure?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ param_comptable.id) }}">
    <button class="btn">Supprimer</button>
</form>
