{% extends 'base.html.twig' %}

{% block title %}Edit ParamComptables{% endblock %}

{% block body %}
    <h1>Modifier ParamComptables</h1>

    {{ include('param_comptables/_form.html.twig', {'button_label': 'Mettre à Jour'}) }}

    <a href="{{ path('param_comptables_index') }}">Retour à la liste</a>

{#{{ include('param_comptables/_delete_form.html.twig') }}#}
{% endblock %}
