{% extends 'base.html.twig' %}

{% block title %}ParamComptables index{% endblock %}

{% block body %}
    <h1>ParamComptables index</h1>
    {{ include('param_comptables/_liste.html.twig') }}
    <a href="{{ path('param_comptables_new') }}">Ajouter</a>
{% endblock %}
