{% extends 'base.html.twig' %}

{% block title %}New ParamComptables{% endblock %}

{% block body %}
    <h1>Nouvelle entité comptable</h1>

    {{ include('param_comptables/_form.html.twig') }}

    <a href="{{ path('param_comptables_index') }}">back to list</a>
{% endblock %}
