{% extends 'base.html.twig' %}

{% block title %}Edit SystemElectInventaires{% endblock %}

{% block body %}
    <h1>Edit SystemElectInventaires</h1>

    {{ include('system_elect_inventaires/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('system_elect_inventaires_index') }}">back to list</a>

    {{ include('system_elect_inventaires/_delete_form.html.twig') }}
{% endblock %}