{% extends 'base.html.twig' %}

{% block title %}Utilisateurs index{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    {{ include('utilisateurs/_liste.html.twig') }}
    <div class="row">
        {{ include('_pagination.html.twig',{'path':'utilisateurs_index'}) }}
    </div>
    <a href="{{ path('utilisateurs_new') }}">Ajouter</a>

{% endblock %}