{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Gestion Utilisateurs</h1>

    {{ include('utilisateurs/_form.html.twig') }}

    <a href="{{ path('journee_caisses_gerer') }}">Retour à l'accueil</a>
{% endblock %}