{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Gestion de profile</h1>

    {{ include('utilisateurs/_form.html.twig') }}
    <a href="{{ path('journee_caisses_gerer') }}">Retour</a> || <a href="{{ path('utilisateur_pass_change') }}">Changer de mot de passe</a>

{% endblock %}