<input type="hidden" name="operation" value="positionner">
<button class="{{ btn_class|default("btn btn-info") }}" name={{ btn_name|default('Positionner') }}>{{ btn_label|default('Positionner') }}</button>
