{% extends 'base.html.twig' %}

{% block title %}Edit Salaires{% endblock %}

{% block body %}
    <h1>Modification Salaire | <a href="{{ path('salaires_index') }}">Listing</a></h1>

    {{ include('salaires/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('salaires/_delete_form.html.twig') }}
{% endblock %}
