{% extends 'base.html.twig' %}

{% block title %}New Salaires{% endblock %}

{% block body %}
    <h1>Create new Salaires</h1>

    {{ include('salaires/_form.html.twig') }}

    <a href="{{ path('salaires_index') }}">back to list</a>
{% endblock %}
