<form method="post" action="{{ path('depot_retraits_delete', {'id': depot_retrait.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ depot_retrait.id) }}">
    <button class="btn">Delete</button>
</form>
