{% extends 'base.html.twig' %}

{% block title %}New DepotRetraits{% endblock %}

{% block body %}
    <h1>Create new DepotRetraits</h1>

    {{ include('depot_retraits/_form.html.twig') }}

    <a href="{{ path('depot_retraits_index') }}">back to list</a>
{% endblock %}
