{% extends 'base.html.twig' %}

{% block title %}Edit LigneSalaires{% endblock %}

{% block body %}
    <h1>Edit LigneSalaires</h1>

    {{ include('ligne_salaires/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ligne_salaires_index') }}">back to list</a>

    {{ include('ligne_salaires/_delete_form.html.twig') }}
{% endblock %}
