{% extends 'base.html.twig' %}

{% block title %}New LigneSalaires{% endblock %}

{% block body %}
    <h1>Create new LigneSalaires</h1>

    {{ include('ligne_salaires/_form.html.twig') }}

    <a href="{{ path('ligne_salaires_index') }}">back to list</a>
{% endblock %}
