{% if journeeCaisse %}<form class="form-inline" method="POST" action="{{ path('journee_caisses_gerer' )}}" >
    <input type="hidden" name="_method" value="GET">
    <input type="hidden" name="_token" value="{{ csrf_token('action' ~ journeeCaisse.id)}}">
    <button class="btn-info" name="fermer">{{ btn_label|default("GERER CAISSE") }}</button>
</form>{% endif %}