{% extends 'base.html.twig' %}

{% block title %}Edit JourneeCaisses{% endblock %}

{% block body %}
    <h1>Edit JourneeCaisses</h1>

    {{ include('journee_caisses/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('journee_caisses_index') }}">back to list</a>

    {{ include('journee_caisses/_delete_form.html.twig') }}
{% endblock %}