{% extends 'base.html.twig' %}

{% block title %}Changement de caisse{% endblock %}

{% block body %}
    <h1>CHANGEMENT DE CAISSE</h1>

    {{ include('journee_caisses/_init_form.html.twig') }}

{% endblock %}