{#{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
#}
{% extends 'base.html.twig' %}

{% block title %}Ouverture{% endblock %}

{% block body %}
    <div class="row text-bold text-center "><h1>CAISSE : {{ journeeCaisse.caisse }}</h1>
    </div>
    <div class="journee_fermeture_prec">

    {{ include ('journee_caisses/_form_ouverture.html.twig') }}

    </div>


{#{{ journeeCaisse.billetOuv ? include('_modal_form.html.twig',{'modal_id':'modal_billetage', 'modal_form': 'billetages/_form.html.twig', 'titre':'Billetage'}) }}

    #}
{% endblock %}
