{% extends 'base.html.twig' %}

{% block title %}Ouverture{% endblock %}

{% block body %}

    <DIV id=u0 style="position:absolute; left:180px; top:21px; width:270px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >

        <DIV id=u0_rtf><span style=" font-family:'Arial'; color:#000000; font-size:16px;"><u><b>OUVERTURE CAISSE</b></u></span></DIV></DIV>

    <div class="caisse_select"> <DIV id=u41 style="position:absolute; left:50px; top:60px; width:200px; height:19px; ; ; text-align: right ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u41_rtf><div style="text-align:right"><span style=" font-family:'Arial'; color:#000000; font-size:16px;"><u><b>Selectionner la caisse : </b></u></span></div></DIV></DIV>
        <SELECT id=u40  style="position:absolute; left:260px; top:60px; width:180px; height:22px; ; ; text-align: left ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >
            <OPTION  value="KD02">KD02</OPTION>
            <OPTION selected value="KD01">KD01</OPTION>
        </SELECT><input id=u2  type=submit value="Initialiser" style="position:absolute; left:440px; top:60px;  height:25px; ; ; text-align: center ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >
    </div>

    <div class="journee_fermeture_prec">
        <DIV id=u1 style="position:absolute; left:40px; top:106px; width:270px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u1_rtf><span style=" font-family:'Arial'; color:#000000; font-size:16px;"><u><b>Fermeture précédente</b></u></span></DIV></DIV>
        <DIV id=u4 style="position:absolute; left:30px; top:155px; width:90px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u4_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Liquidité CFA</span></DIV></DIV>
        <INPUT id=u8  type=text value="1 200 000" style="position:absolute; left:154px; top:148px; width:160px; height:25px; ; background-color:#F2F2F2; text-align: right ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >

        <DIV id=u5 style="position:absolute; left:27px; top:180px; width:110px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u5_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Solde électronique</span></DIV></DIV>
        <INPUT id=u11  type=text value="5 000 000" style="position:absolute; left:154px; top:170px; width:160px; height:25px; ; background-color:#F2F2F2; text-align: right ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >

        <DIV id=u6 style="position:absolute; left:30px; top:208px; width:110px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u6_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Dettes</span></DIV></DIV><INPUT id=u12  type=text value="3 000" style="position:absolute; left:154px; top:195px; width:160px; height:25px; ; background-color:#F2F2F2; text-align: right ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >

        <DIV id=u7 style="position:absolute; left:30px; top:233px; width:110px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u7_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Crédits</span></DIV></DIV><INPUT id=u13  type=text value="4 000" style="position:absolute; left:154px; top:221px; width:160px; height:25px; ; background-color:#F2F2F2; text-align: right ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >

<span style="position:absolute; left:30px; top:259px; width:283px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Ouverture_Caisse_files/u10.png',sizingMethod='scale');
"><img style="width:283px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);"
       src="Ouverture_Caisse_files/u10.png" border="0" alt=""></span>

        <DIV id=u9 style="position:absolute; left:30px; top:269px; width:120px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u9_rtf><span style=" color:#000000; font-size:15px;"><b>DISPONIBILITE </b></span></DIV></DIV><INPUT id=u14  type=text value="6 200 000" style="position:absolute; left:153px; top:265px; width:160px; height:25px; ; background-color:#F2F2F2; text-align: right ; font-family:'Arial'; font-size: 16px; color:#000000; font-style:normal; font-weight:bold; text-decoration:none"   >

        <DIV id=u15 style="position:absolute; left:30px; top:297px; width:110px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u15_rtf><span style=" color:#000000; font-size:16px;"><b>SOLDE NET : </b></span></DIV></DIV>
        <INPUT id=u16  type=text value="6 201 000" style="position:absolute; left:153px; top:293px; width:160px; height:25px; ; background-color:#F2F2F2; text-align: right ; font-family:'Arial'; font-size: 16px; color:#000000; font-style:normal; font-weight:bold; text-decoration:none"   >

<span style="position:absolute; left:30px; top:347px; width:123px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Ouverture_Caisse_files/u43.png',sizingMethod='scale');
"><img style="width:123px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);"
       src="Ouverture_Caisse_files/u43.png" border="0" alt=""></span>

        <DIV id=u42 style="position: absolute; left: 160px; top: 338px; width: 50px; height: 16px; ; ; text-align: left; font-family: Arial; text-align: left; word-wrap: break-word;" >
            <DIV id=u42_rtf><span style="font-family: 'Arial'; color: #000000; font-size: 13px; font-weight: bold;">Devises</span></DIV></DIV>

<span style="position:absolute; left:210px; top:348px; width:103px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Ouverture_Caisse_files/u44.png',sizingMethod='scale');
"><img style="width:103px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);"
       src="Ouverture_Caisse_files/u44.png" border="0" alt=""></span>

        <DIV id=u45 style="position:absolute; left:40px; top:364px; width:90px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u45_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Euros</span></DIV></DIV>
        <DIV id=u46 style="position:absolute; left:40px; top:390px; width:110px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u46_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Dollars</span></DIV></DIV>
        <INPUT id=u48  type=text value="900" style="position:absolute; left:150px; top:382px; width:160px; height:25px; ; background-color:#F2F2F2; text-align: right ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >

    </DIV>
    </div>



    <DIV id=u18container style="position:absolute; left:360px; top:135px; width:35
1px; height:296px;; overflow:visible;"></DIV>



    <div class="journee_ouverture">
        <DIV id=u17 style="position:absolute; left:380px; top:106px; width:270px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u17_rtf><span style=" font-family:'Arial'; color:#000000; font-size:16px;"><u><b>Ouverture du jour</b></u></span></DIV></DIV>

        <DIV id=u20 style="position:absolute; left:370px; top:155px; width:90px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u20_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Liquidité CFA</span></DIV></DIV>
        <INPUT id=u24  type=text value="0" style="position:absolute; left:494px; top:148px; width:126px; height:25px;"><INPUT id=u33  type=submit value="Billetage" style="position:absolute; left:620px; top:145px; height:25px; ; ; text-align: center ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none; " data-toggle="modal" data-target="#modal_billetage"  >

        <DIV id=u21 style="position:absolute; left:367px; top:180px; width:110px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u21_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Solde électronique</span></DIV></DIV>
        <INPUT id=u27  type=text value="0" style="position:absolute; left:494px; top:170px; width:126px; height:25px; ; ; text-align: right ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   ><INPUT id=u34  type=submit value="Soldes" style="position:absolute; left:620px; top:170px; width:60px; height:25px; ; ; text-align: center ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >

        <DIV id=u22 style="position:absolute; left:370px; top:208px; width:110px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u22_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Dettes</span></DIV></DIV>
        <INPUT id=u28  type=text value="3 000" style="position:absolute; left:494px; top:195px; width:186px; height:25px; ; background-color:#F2F2F2; text-align: right ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >


        <DIV id=u23 style="position:absolute; left:370px; top:233px; width:110px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u23_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Crédits</span></DIV></DIV>
        <INPUT id=u29  type=text value="4 000" style="position:absolute; left:494px; top:221px; width:186px; height:25px; ; background-color:#F2F2F2; text-align: right ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >

<span style="position:absolute; left:370px; top:259px; width:313px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Ouverture_Caisse_files/u26.png',sizingMethod='scale');
"><img style="width:313px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);"
       src="Ouverture_Caisse_files/u26.png" border="0" alt=""></span>


        <DIV id=u25 style="position:absolute; left:370px; top:269px; width:120px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u25_rtf><span style=" color:#000000; font-size:15px;"><b>DISPONIBILITE </b></span></DIV></DIV>
        <INPUT id=u30  type=text value="0" style="position:absolute; left:493px; top:265px; width:187px; height:25px; ; background-color:#F2F2F2; text-align: right ; font-family:'Arial'; font-size: 16px; color:#000000; font-style:normal; font-weight:bold; text-decoration:none"   >

        <DIV id=u31 style="position:absolute; left:370px; top:297px; width:110px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u31_rtf><span style=" color:#000000; font-size:16px;"><b>SOLDE NET : </b></span></DIV></DIV>
        <INPUT id=u32  type=text value="1 000" style="position:absolute; left:493px; top:293px; width:187px; height:25px; ; background-color:#F2F2F2; text-align: right ; font-family:'Arial'; font-size: 16px; color:#000000; font-style:normal; font-weight:bold; text-decoration:none"   >

        <DIV id=u35 style="position:absolute; left:370px; top:325px; width:110px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u35_rtf><span style=" color:#FF0000; font-size:16px;"><b>ECART : </b></span></DIV></DIV>
        <INPUT id=u36  type=text value="- 6 200 000" style="position:absolute; left:493px; top:320px; width:187px; height:25px; ; background-color:#F2F2F2; text-align: right ; font-family:'Arial'; font-size: 16px; color:#FF0000; font-style:normal; font-weight:bold; text-decoration:none"   >

<span style="position:absolute; left:360px; top:360px; width:123px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Ouverture_Caisse_files/u50.png',sizingMethod='scale');
"><img style="width:123px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);"
       src="Ouverture_Caisse_files/u50.png" border="0" alt=""></span><DIV id=u49 style="position: absolute; left: 490px; top: 351px; width: 50px; height: 16px; ; ; text-align: left; font-family: Arial; text-align: left; word-wrap: break-word;" >
            <DIV id=u49_rtf><span style="font-family: 'Arial'; color: #000000; font-size: 13px; font-weight: bold;">Devises</span></DIV></DIV><span style="position:absolute; left:540px; top:361px; width:63px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Ouverture_Caisse_files/u51.png',sizingMethod='scale');
"><img style="width:63px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);"
       src="Ouverture_Caisse_files/u51.png" border="0" alt=""></span><DIV id=u56 style="position: absolute; left: 634px; top: 349px; width: 50px; height: 16px; ; ; text-align: left; font-family: Arial; text-align: left; word-wrap: break-word;" >
            <DIV id=u56_rtf><span style=" font-family:'Arial'; color:#FF0000; font-size:13px;">Ecarts</span></DIV></DIV>

        <DIV id=u52 style="position:absolute; left:370px; top:377px; width:90px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u52_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Euros</span></DIV></DIV>
        <INPUT id=u54  type=text value="1 700" style="position:absolute; left:480px; top:373px; width:80px; height:25px; ; ; text-align: right ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   ><INPUT id=u59  type=submit value="Billetage" style="position:absolute; left:560px; top:370px;  height:25px; ; ; text-align: center ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >
        <INPUT id=u57  type=text value="0" style="position: absolute; left: 627px; top: 372px; width: 80px; height: 25px; ; background-color: #F2F2F2; text-align: right; font-family: 'Arial'; font-size: 13px; color: #FF0000; font-style: normal; font-weight: normal; text-decoration: none"   >


        <DIV id=u53 style="position:absolute; left:370px; top:403px; width:110px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
            <DIV id=u53_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Dollars</span></DIV></DIV>
        <INPUT id=u55  type=text value="900" style="position:absolute; left:480px; top:395px; width:80px; height:25px; ; ; text-align: right ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >
        <INPUT id=u60  type=submit value="Billetage" style="position:absolute; left:560px; top:395px;  height:25px; ; ; text-align: center ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >
<span class="journee_fermeture_prec">
<input id=u47  type=text value="1 700" style="position:absolute; left:150px; top:360px; width:160px; height:25px; ; background-color:#F2F2F2; text-align: right ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >
</span>
        <INPUT id=u58  type=text value="0" style="position: absolute; left: 627px; top: 395px; width: 80px; height: 25px; ; background-color: #F2F2F2; text-align: right; font-family: 'Arial'; font-size: 13px; color: #FF0000; font-style: normal; font-weight: normal; text-decoration: none"   >

    </div>

    {{ include ('_btn_action.html.twig', {'btn_left':240, 'btn_top':455, 'btn_width':150, 'save_value':'Ouvrir la caisse'}) }}


    {{ include('_modal_form.html.twig',{'modal_id':'modal_billetage', 'modal_form': 'billetages/_form.html.twig', 'titre':'Billetage'}) }}
<!--
    <div class="btn-action">

        <INPUT id=u37  type=submit value="Ouvrir la caisse" class="btn-secondary btn" style="position:absolute; left:250px; top:455px;width:150px;">

        <INPUT id=u38  type=submit value="Effacer" class="btn-secondary btn" style="position:absolute; left:410px; top:455px;width:150px;">

        <INPUT id=u39  type=submit value="Fermer" class="btn-secondary btn" style="position:absolute; left:570px; top:455px;width:150px;">
    </div>
    -->

{% endblock %}
