<form method="post" action="{{ path('billets_delete', {'id': billet.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce billet?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ billet.id) }}">
    <button class="btn">Supprimer</button>
</form>