{% extends 'base.html.twig' %}

{% block title %}Edit Billets{% endblock %}

{% block body %}
    <h1>Edit Billets</h1>

    {{ include('billets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('billets_index') }}">back to list</a>

    {{ include('billets/_delete_form.html.twig') }}
{% endblock %}