{% extends 'base.html.twig' %}

{% block title %}Billets index{% endblock %}
{% set pair = "#FFF" %}
  {% set impair = "#454545" %}
{% block body %}
    <h1>Liste Billets</h1>
    {{ include('billets/_liste.html.twig') }}
    <a href="{{ path('billets_new') }}">Ajout</a>
{% endblock %}