{% extends 'base.html.twig' %}

{% block title %}New Billets{% endblock %}

{% block body %}
    <h1>Ajouter un Billet</h1>

    {{ include('billets/_form.html.twig') }}

    <a href="{{ path('billets_index') }}">Retour à la liste</a>
{% endblock %}