{% if appro_versement.utilisateur.id==app.user.id and  appro_versement.statut!='C' %}
<form method="post" action="{{ path('appro_versements_delete', {'id': appro_versement.id}) }}" onsubmit="return confirm('Supprimer vraiment ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appro_versement.id) }}">
    <button class="btn">Supprimer</button>
</form>
{% endif %}
