<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Partenaires</th>
        <th class="text-right">Montant</th>
        <th>Status</th>
        <th>Observations</th>
        <th>Action</th>
        {% if  is_granted('ROLE_COMPTABLE') %}<th>Pièces</th>{% endif %}
    </tr>
    </thead>
    <tbody>
    {#{% set totalAppro=0 %}
    {% set totalVersement=0 %}#}
    {% set totalApproVersement=0 %}
    {% for approVersement in approVersements  %}
        {{ include('appro_versements/_ligne_list.html.twig') }}
        {% set totalApproVersement=totalApproVersement+ approVersement.mApproVersement%}
    {% else %}
        <tr> <td colspan="6" class="text-center"> Aucun enregistrement </td></tr>
    {% endfor %}
    <tr><th>Totaux</th>
        <th class="text-right">{{ (totalApproVersement)|number_format(0, '.', ' ') }}</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </tbody>
</table>
