{% extends 'base.html.twig' %}

{% block title %}Appro Versements{% endblock %}

{% block body %}
    <h1>Modification Appro virement |  <a href="{{ path('appro_versements_index') }}">Listing</a></h1>

    {{ include('appro_versements/_form_modif.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('appro_versements/_delete_form.html.twig') }}
{% endblock %}
