{% extends 'base.html.twig' %}

{% block title %}Appro Versements index{% endblock %}

{% block body %}
    <h1>Listing Appro versements | <a href="{{ path('appro_versements_ajout') }}">Nouvelle saisie</a></h1>


    {{ include('appro_versements/_list.html.twig', {'journeeCaisse':''}) }}

{% endblock %}
