{% extends 'base.html.twig' %}

{% block title %}Annulation d'intercaisse{% endblock %}

{% block body %}
    <h1>Confirmer l'annulation de l'intercaisse</h1>

    {% include('devise_intercaisses/_detail_intercaisse.html.twig') %}

    {% include('devise_intercaisses/_annul_form.html.twig') %}

{% endblock %}