{% extends 'base.html.twig' %}

{% block body %}
    <h3>INTERCAISSES DE {{ journeeCaisse.caisse }} DU {{ journeeCaisse.dateOuv|date('d-m-Y') }}</h3>
    {{ include('devise_intercaisses/_list_mouvements.html.twig') }}
    {{ include('_btn_close.html.twig') }}
{% endblock %}

{% block title %}

{% endblock %}