<form method="post" action="{{ path('type_operation_comptables_delete', {'id': type_operation_comptable.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce type?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_operation_comptable.id) }}">
    <button class="btn">Supprimer</button>
</form>
