{% extends 'base.html.twig' %}

{% block title %}TypeOperationComptables index{% endblock %}

{% block body %}
    <h1>Listes des types d'operations comptables</h1>
    {{ include('type_operation_comptables/_liste.html.twig') }}
    <a href="{{ path('type_operation_comptables_new') }}">Ajouter</a>
{% endblock %}
