<form method="post" action="{{ path(''~path) }}">
    <input type="hidden" name="_method" value="GET">
    <input type="hidden" name="_page" value={{ pag }}>
    <button class="btn">{{ pag }}</button>
</form>