<div class="form-group">
    <button class="btn btn-info" type="submit" name="save_and_close" id="save_and_close" >Enregistrer et Fermer</button>
    <button class="btn btn-info" type="submit" name="save_and_new" id="save_and_new" >Enregistrer</button>
</div>