<div class="form-group">
    <div class="row">
        <div class="col">
            Periode du {{ form_widget(form.dateDebut) }}
        </div>
        <div class="col">
            au {{ form_widget(form.dateFin) }}
        </div>
    </div>
</div>

<button type="submit" class="btn btn-info">{{ button_label|default('AFFICHER') }}</button>