{% extends 'base.html.twig' %}

{% block title %}Pays index{% endblock %}

{% block body %}
    <h1>Liste des pays</h1>
    {{ include('pays/_liste.html.twig') }}
    <a href="{{ path('pays_new') }}">Ajouter</a>
{% endblock %}