{% extends 'base.html.twig' %}

{% block title %}Gestion des interCaisses{% endblock %}

{% block body %}
    <h1>InterCaisse {{ journeeCaisse }}</h1>

    {{ include('intercaisses/_form.html.twig') }}
    {{ include('intercaisses/list.html.twig') }}

  {#  </form>#}


{% endblock %}
{% block javascripts %}

    {{ parent() }}

{% endblock %}