<form method="post" action="{{ path('dette_credit_divers_delete', {'id': dette_credit_diver.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dette_credit_diver.id) }}">
    <button class="btn">Delete</button>
</form>