{% extends 'base.html.twig' %}

{% block title %}New DetteCreditDivers{% endblock %}

{% block body %}
    {% if dette %}<h1>Saisie des dettes</h1>{% else %}<h1>Saisie des crédits</h1>{% endif %}

    {{ include('dette_credit_divers/_form.html.twig') }}
    {{ include('dette_credit_divers/_liste.html.twig') }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">

    </script>

{% endblock %}