{% extends 'base.html.twig' %}

{% block title %}New DetteCreditDivers{% endblock %}

{% block body %}
    <h1>Create new DetteCreditDivers</h1>

    {{ include('dette_credit_divers/_form.html.twig') }}
    {{ include('dette_credit_divers/_liste.html.twig') }}

    <a href="{{ path('dette_credit_divers_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $("#dette").hide();
        $("#chbxDette").click(function () {
            $("#dette_credit_divers_mCredit").val(0);
            $("#credit").hide();
            $("#dette").show();
        });
        $("#chbxCredit").click(function () {
            $("#dette").hide();
            $("#dette_credit_divers_mDette").val(0);
            $("#credit").show();
        });
    </script>

{% endblock %}