{% extends 'base.html.twig' %}

{% block title %}Edit Zones{% endblock %}

{% block body %}
    <h1>Modification de zone</h1>

    {{ include('zones/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('zones_index') }}">Liste</a>

    {{ include('zones/_delete_form.html.twig') }}
{% endblock %}
