{% extends 'base.html.twig' %}

{% block title %}nouvelle Zone{% endblock %}

{% block body %}
    <h1>Création nouvelle Zone</h1>

    {{ include('zones/_form.html.twig') }}

    <a href="{{ path('zones_index') }}">Liste</a>
{% endblock %}
