<form method="post" action="{{ path('system_elects_delete', {'id': system_elect.id}) }}" onsubmit="return confirm('Voulez vous vraiment suppemer ce systeme?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ system_elect.id) }}">
    <button class="btn">Supprimer</button>
</form>