{% extends 'base.html.twig' %}

{% block title %}Edit SystemElects{% endblock %}

{% block body %}
    <h1>Modifier Systeme de transfert mobile</h1>

    {{ include('system_elects/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('system_elects_index') }}">Retour à la liste</a>

    {{ include('system_elects/_delete_form.html.twig') }}
{% endblock %}