{% extends 'base.html.twig' %}

{% block title %}SystemElects index{% endblock %}

{% block body %}
    <h1> Liste des Systemes de transfert Mobile</h1>
    {{ include('system_elects/_liste.html.twig') }}
    <a href="{{ path('system_elects_new') }}">Ajouter</a>
{% endblock %}