{% extends 'base.html.twig' %}

{% block title %}New SystemElects{% endblock %}

{% block body %}
    <h1>Ajoute d'un nouveau systeme de transfert mobile</h1>

    {{ include('system_elects/_form.html.twig') }}

    <a href="{{ path('system_elects_index') }}">Retour à la liste</a>
{% endblock %}