{% extends 'base.html.twig' %}

{% block title %}Edit Transactions{% endblock %}

{% block body %}
    <h1>Modification d'écriture comptables</h1>

    {{ include('transactions/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('transactions_index') }}">Liste des transactsions</a> |

    {{ include('transactions/_delete_form.html.twig') }}
{% endblock %}