{% extends 'base.html.twig' %}

{% block title %}Transactions index{% endblock %}

{% block body %}
    <h1>Ecritures comptables |
        <a href="{{ path('transactions_ajout') }}">Nouvelle saisie Comptable</a></h1>
    <div class="table-responsive">
        {{ include ('transactions/_liste.html.twig') }}
        {{ include('_pagination.html.twig',{'path':'transactions_index'}) }}
    </div>
{% endblock %}