{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
    <h1>Détail des écritures comptables</h1>
    <table class="table">
        <tbody>
        {{ include('transactions/_entete_transaction.html.twig') }}
        {{ include('transactions/_detail_transaction.html.twig') }}
        </tbody>
    </table>

    <a href="{{ path('transactions_index') }}"> Liste des transactions </a> |

    <a href="{{ path('transactions_edit', {'id': transaction.id}) }}"> Modifier</a>
{% endblock %}