{% extends 'base.html.twig' %}

{% block title %}Clients index{% endblock %}

{% block body %}
    <h1>Liste Clients</h1>
    {{ include('clients/_liste.html.twig') }}
    {{ include('_pagination.html.twig',{'path':'clients_index'}) }}
    <a href="{{ path('clients_new') }}">Ajouter</a>
{% endblock %}