{% extends 'base.html.twig' %}

{% block title %}Clients index{% endblock %}

{% block body %}
    <h1>Liste Clients |
        <a href="{{ path('clients_new') }}">Ajouter</a></h1>
    {{ include('_pagination.html.twig',{'path':'clients_index'}) }}
    {{ include('clients/_liste.html.twig') }}
{% endblock %}