{% extends 'base.html.twig' %}

{% block title %}Modifier Agences{% endblock %}

{% block body %}
    <h1>Modifier Agence | <a href="{{ path('agences_index') }}">Listing</a></h1>

    {{ include('agences/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('agences/_delete_form.html.twig') }}
{% endblock %}
