{% extends 'base.html.twig' %}

{% block title %}Billetages index{% endblock %}

{% block body %}
    <h1>Billetages</h1>
    {{ include(':billetages:_liste.html.twig') }}
    <a href="{{ path('billetages_new') }}">Ajouter</a>
{% endblock %}